.DS_STORE

# Python bytecode
__pycache__
*.pyc

# Pytest-created directories
.cache
.idea

# Front-end dependencies
app/static/lib

# Local configs
config/*-local.py

# Python virtual environment
venv

